.wrapper {
    border: 3px solid green;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    width: 360px;
    padding: 12px;
}

.title {
    margin: 0 0 12px;
    text-align: center;
    font-size: 40px;
}

.description {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
}