.wrapper {
    display: flex;
    justify-content: space-between;
    border-left: 3px solid green;
    border-right: 3px solid green;
    width: 360px;
    padding: 12px;

}

.feedbuttons {
    display: flex;
    gap: 12px
}